n8n-workflows/flujo-cancelacion.json
{
  "name": "flujo-cancelacion",
  "nodes": [
    {
      "id": "webhook-trigger-cancelacion",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cancelar",
      "parameters": {
        "httpMethod": "POST",
        "path": "cancelar",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "extract-turno-id",
      "name": "Extract Turno ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const message = $input.all()[0].json.message?.text || '';\nconst chatId = $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nconst match = message.match(/\\/cancelar\\s+(\\d+)/);\nconst turnoId = match ? match[1] : null;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    turno_id: turnoId,\n    message: message\n  }\n}];"
      }
    },
    {
      "id": "http-put-cancelar",
      "name": "HTTP Request - PUT Cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.FASTAPI_BASE_URL }}/turnos/{{ $json.turno_id }}/cancelar",
        "options": {}
      }
    },
    {
      "id": "format-cancelar",
      "name": "Format Response - Cancelación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const turno = $input.all()[0].json;\nconst chatId = $input.all()[0].json.chat_id || $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nif (!turno || !turno.id) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'Error al cancelar el turno. Verificá que el ID sea correcto.',\n      inline_buttons: []\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: `Turno cancelado exitosamente.\\n\\nFecha: ${turno.fecha}\\nHora: ${turno.hora_inicio}`,\n    inline_buttons: [\n      { text: 'Reprogramar turno', callback_data: `reprogramar_${turno.id}` }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "telegram-cancelar",
      "name": "Telegram - Confirmar Cancelación",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1050, 300],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "options": {
          "reply_markup": {
            "inline_keyboard": [
              "={{ $json.inline_buttons.map(b => [{text: b.text, callback_data: b.callback_data}]) }}"
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "error-404",
      "name": "Error 404 Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const chatId = $input.all()[0].json.chat_id || $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: 'Turno no encontrado. Verificá el ID y probá de nuevo.'\n  }\n}];"
      }
    },
    {
      "id": "error-400",
      "name": "Error 400 Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 700],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const chatId = $input.all()[0].json.chat_id || $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: 'El turno ya fue cancelado previamente.'\n  }\n}];"
      }
    },
    {
      "id": "telegram-error-404",
      "name": "Telegram - Error 404",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1050, 500],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "telegram-error-400",
      "name": "Telegram - Error 400",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1050, 700],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Turno ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Turno ID": {
      "main": [
        [
          {
            "node": "HTTP Request - PUT Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - PUT Cancelar": {
      "main": [
        [
          {
            "node": "Format Response - Cancelación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 404 Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 400 Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Cancelación": {
      "main": [
        [
          {
            "node": "Telegram - Confirmar Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error 404 Handler": {
      "main": [
        [
          {
            "node": "Telegram - Error 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error 400 Handler": {
      "main": [
        [
          {
            "node": "Telegram - Error 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
