n8n-workflows/flujo-recordatorio.json
{
  "name": "flujo-recordatorio",
  "nodes": [
    {
      "id": "f1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 320],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "f1b2c3d4-0001-4000-8000-000000000002",
      "name": "Code - Calcular Fecha Ma\u00f1ana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const maniana = new Date(Date.now() + 86400000);\nconst fecha_maniana = maniana.toISOString().slice(0, 10);\n\nreturn [{\n  json: {\n    fecha_maniana: fecha_maniana,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "f1b2c3d4-0001-4000-8000-000000000003",
      "name": "HTTP Request - POST Recordatorios Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 320],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/recordatorios/run?fecha={{ $json.fecha_maniana }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": {
          "type": "generic",
          "properties": {
            "genericAuthType": "httpHeaderAuth"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "profesional-api-key",
          "name": "Profesional API Key"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code - Calcular Fecha Ma\u00f1ana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Calcular Fecha Ma\u00f1ana": {
      "main": [
        [
          {
            "node": "HTTP Request - POST Recordatorios Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "c-24",
    "recordatorio",
    "schedule"
  ],
  "pinData": {},
  "active": false
}
