n8n-workflows/flujo-reserva.json
{
  "name": "flujo-reserva",
  "nodes": [
    {
      "id": "webhook-trigger-reserva",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "reserva",
      "parameters": {
        "httpMethod": "POST",
        "path": "reserva",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "http-get-fechas",
      "name": "HTTP Request - GET Fechas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FASTAPI_BASE_URL }}/turnos/disponibles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fecha",
              "value": "={{ $today.format('YYYY-MM-DD') }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-fechas",
      "name": "Format Response - Fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const slots = $input.all()[0].json;\nconst chatId = $input.all()[0].json.chat?.id || $input.all()[0].json.message?.chat?.id;\n\nif (!slots || slots.length === 0) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'No hay fechas disponibles para reservar.',\n      inline_buttons: []\n    }\n  }];\n}\n\nconst buttons = slots.map((slot, index) => ({\n  text: `${slot.hora_inicio} - ${slot.hora_fin}`,\n  callback_data: `hora_${slot.hora_inicio}`\n}));\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: 'Seleccioná una fecha disponible:',\n    inline_buttons: buttons\n  }\n}];"
      }
    },
    {
      "id": "telegram-fechas",
      "name": "Telegram - Enviar Fechas",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 300],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "options": {
          "reply_markup": {
            "inline_keyboard": [
              "={{ $json.inline_buttons.map(b => [{text: b.text, callback_data: b.callback_data}]) }}"
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "http-get-horarios",
      "name": "HTTP Request - GET Horarios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FASTAPI_BASE_URL }}/turnos/disponibles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fecha",
              "value": "={{ $json.callback_query?.data?.split('_')[1] || $json.message?.text }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-horarios",
      "name": "Format Response - Horarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const slots = $input.all()[0].json;\nconst chatId = $input.all()[0].json.chat?.id || $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nif (!slots || slots.length === 0) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'No hay horarios disponibles para esa fecha.',\n      inline_buttons: []\n    }\n  }];\n}\n\nconst buttons = slots.filter(s => s.disponible).map((slot) => ({\n  text: `${slot.hora_inicio} - ${slot.hora_fin}`,\n  callback_data: `reservar_${slot.hora_inicio}`\n}));\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: 'Seleccioná un horario disponible:',\n    inline_buttons: buttons\n  }\n}];"
      }
    },
    {
      "id": "telegram-horarios",
      "name": "Telegram - Enviar Horarios",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1450, 300],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "options": {
          "reply_markup": {
            "inline_keyboard": [
              "={{ $json.inline_buttons.map(b => [{text: b.text, callback_data: b.callback_data}]) }}"
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "http-post-reserva",
      "name": "HTTP Request - POST Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FASTAPI_BASE_URL }}/turnos",
        "sendBody": true,
        "contentType": "application/json",
        "body": {
          "paciente_id": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
          "fecha": "={{ $json.callback_query?.data?.split('_')[1] || $today.format('YYYY-MM-DD') }}",
          "hora_inicio": "={{ $json.callback_query?.data?.split('_')[1] }}"
        },
        "options": {}
      }
    },
    {
      "id": "format-reserva",
      "name": "Format Response - Reserva Temporal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const turno = $input.all()[0].json;\nconst chatId = $input.all()[0].json.chat?.id || $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nif (!turno || !turno.id) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'Error al realizar la reserva temporal.',\n      inline_buttons: []\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: `Reserva temporal creada. Turno #${turno.id} - ${turno.fecha} ${turno.hora_inicio}. Tenés 10 minutos para confirmar.`,\n    inline_buttons: [\n      { text: 'Confirmar turno', callback_data: `confirmar_${turno.id}` }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "telegram-reserva",
      "name": "Telegram - Enviar Reserva Temporal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2050, 300],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "options": {
          "reply_markup": {
            "inline_keyboard": [
              "={{ $json.inline_buttons.map(b => [{text: b.text, callback_data: b.callback_data}]) }}"
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "http-put-confirmar",
      "name": "HTTP Request - PUT Confirmar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.FASTAPI_BASE_URL }}/turnos/{{ $json.callback_query?.data?.split('_')[1] }}/confirmar",
        "sendBody": true,
        "contentType": "application/json",
        "body": {
          "nombre": "Usuario",
          "apellido": "Telegram",
          "dni": "99999999",
          "telefono": "0000000000"
        },
        "options": {}
      }
    },
    {
      "id": "format-confirmar",
      "name": "Format Response - Confirmación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const turno = $input.all()[0].json;\nconst chatId = $input.all()[0].json.chat?.id || $input.all()[0].json.message?.chat?.id || $input.all()[0].json.callback_query?.message?.chat?.id;\n\nif (!turno || !turno.id) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: 'Error al confirmar el turno. Es posible que haya expirado la reserva temporal.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: `Turno confirmado exitosamente!\\n\\nFecha: ${turno.fecha}\\nHora: ${turno.hora_inicio}\\nEstado: ${turno.estado}`\n  }\n}];"
      }
    },
    {
      "id": "telegram-confirmar",
      "name": "Telegram - Confirmar Turno",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2650, 300],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2650, 500],
      "parameters": {}
    },
    {
      "id": "telegram-error",
      "name": "Telegram - Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2850, 500],
      "parameters": {
        "chatId": "={{ $json.chat?.id || $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
        "text": "={{ $json.error?.message || 'Ocurrió un error procesando tu solicitud.' }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - GET Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - GET Fechas": {
      "main": [
        [
          {
            "node": "Format Response - Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Fechas": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Enviar Fechas": {
      "main": [
        [
          {
            "node": "HTTP Request - GET Horarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - GET Horarios": {
      "main": [
        [
          {
            "node": "Format Response - Horarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Horarios": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Horarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Enviar Horarios": {
      "main": [
        [
          {
            "node": "HTTP Request - POST Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - POST Reserva": {
      "main": [
        [
          {
            "node": "Format Response - Reserva Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Reserva Temporal": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Reserva Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Enviar Reserva Temporal": {
      "main": [
        [
          {
            "node": "HTTP Request - PUT Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - PUT Confirmar": {
      "main": [
        [
          {
            "node": "Format Response - Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response - Confirmación": {
      "main": [
        [
          {
            "node": "Telegram - Confirmar Turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
