n8n-workflows/orquestador.json
{
  "name": "orquestador",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 320],
      "webhookId": "orquestador-telegram",
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Normalizar Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const input = ($input.all()[0] && $input.all()[0].json) || {};\n\nlet text = '';\nlet chatId = null;\nlet callbackQueryId = null;\n\nif (input.message) {\n  text = input.message.text || '';\n  chatId = input.message.chat && input.message.chat.id;\n} else if (input.callback_query) {\n  text = input.callback_query.data || '';\n  chatId = input.callback_query.message && input.callback_query.message.chat && input.callback_query.message.chat.id;\n  callbackQueryId = input.callback_query.id;\n}\n\nconst textLower = String(text || '').toLowerCase().trim();\nlet comando = 'desconocido';\nconst payload = {};\n\nif (textLower.startsWith('/reservar') || textLower === 'reservar' || textLower.includes('quiero un turno') || textLower.includes('sacar turno') || textLower.startsWith('reservar:') || textLower.startsWith('reservar_lista_')) {\n  comando = 'crear';\n} else if (textLower.startsWith('/cancelar') || textLower === 'cancelar' || textLower.includes('dar de baja') || textLower.startsWith('cancelar:')) {\n  comando = 'cancelar';\n  if (textLower.startsWith('cancelar:')) {\n    payload.turno_id = text.split(':')[1];\n  }\n} else if (textLower.startsWith('/reprogramar') || textLower === 'reprogramar' || textLower.includes('cambiar turno') || textLower.includes('mover turno') || textLower.startsWith('reprogramar:')) {\n  comando = 'reprogramar';\n  if (textLower.startsWith('reprogramar:')) {\n    payload.turno_id = text.split(':')[1];\n  }\n}\n\nreturn [{\n  json: {\n    comando: comando,\n    chat_id: chatId,\n    callback_query_id: callbackQueryId,\n    text: text,\n    payload: payload\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Switch Comando",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [680, 320],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1b2c3d4-0001-4000-8000-000000000001",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "crear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1b2c3d4-0001-4000-8000-000000000002",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1b2c3d4-0001-4000-8000-000000000003",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "reprogramar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reprogramar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Execute Crear Turno",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [920, 120],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-flujo-crear-turno",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Execute Cancelar Turno",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [920, 320],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-flujo-cancelar-turno",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Execute Reprogramar Turno",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [920, 520],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sub-flujo-reprogramar-turno",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Telegram - Mensaje de Ayuda",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 720],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "=Comandos disponibles:\n/reservar - Crear un nuevo turno\n/cancelar - Cancelar un turno existente\n/reprogramar - Cambiar la fecha u hora de un turno\n\nTambi\u00e9n pod\u00e9s escribir 'quiero un turno', 'cancelar' o 'reprogramar' en lenguaje natural.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Comando": {
      "main": [
        [
          {
            "node": "Switch Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Comando": {
      "main": [
        [
          {
            "node": "Execute Crear Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Cancelar Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Reprogramar Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Mensaje de Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "c-24",
    "orquestador"
  ],
  "pinData": {},
  "active": false
}
