n8n-workflows/orquestador.json
{
  "name": "orquestador",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "2f06c53f-f442-4523-95ab-b17926c03c63",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1984,
        144
      ],
      "webhookId": "orquestador-telegram",
      "credentials": {
        "telegramApi": {
          "id": "TZgUFY41hdHCU9fu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear el input de Telegram\nconst input = ($input.all()[0] && $input.all()[0].json) || {};\n\nlet text = '';\nlet chatId = null;\nlet callbackQueryId = null;\n\nif (input.message) {\n  text = input.message.text || '';\n  chatId = input.message.chat && input.message.chat.id;\n} else if (input.callback_query) {\n  text = input.callback_query.data || '';\n  chatId = input.callback_query.message && input.callback_query.message.chat && input.callback_query.message.chat.id;\n  callbackQueryId = input.callback_query.id;\n}\n\nconst textRaw = String(text || '');\nconst textLower = textRaw.toLowerCase().trim();\nlet comando = 'desconocido';\nconst payload = {};\n\n// ======================================================================\n// HELPERS (timezone Argentina)\n// ======================================================================\nfunction fmtArgentina(d) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'America/Argentina/Buenos_Aires',\n    year: 'numeric', month: '2-digit', day: '2-digit'\n  }).formatToParts(d);\n  const y = parts.find(p => p.type === 'year').value;\n  const m = parts.find(p => p.type === 'month').value;\n  const dd = parts.find(p => p.type === 'day').value;\n  return `${y}-${m}-${dd}`;\n}\n\nfunction addDays(yyyy_mm_dd, n) {\n  const [y, m, d] = yyyy_mm_dd.split('-').map(Number);\n  const date = new Date(Date.UTC(y, m - 1, d));\n  date.setUTCDate(date.getUTCDate() + n);\n  const yy = date.getUTCFullYear();\n  const mm = String(date.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(date.getUTCDate()).padStart(2, '0');\n  return `${yy}-${mm}-${dd}`;\n}\n\nconst hoyArgentina = () => fmtArgentina(new Date());\n\n// ======================================================================\n// STATIC DATA: leer contexto previo del orquestador\n// ======================================================================\nfunction loadContext() {\n  try {\n    if (!chatId) return;\n    const staticData = $getWorkflowStaticData('global');\n    const chatIdStr = String(chatId);\n    const ctx = staticData['ctx_' + chatIdStr] || {};\n    if (!payload.fecha && ctx.fecha) payload.fecha = ctx.fecha;\n    if (!payload.rango && ctx.rango) payload.rango = ctx.rango;\n  } catch (e) {}\n}\n\nfunction saveContext() {\n  try {\n    if (!chatId) return;\n    const staticData = $getWorkflowStaticData('global');\n    const chatIdStr = String(chatId);\n    const existing = staticData['ctx_' + chatIdStr] || {};\n    staticData['ctx_' + chatIdStr] = {\n      fecha: payload.fecha || existing.fecha,\n      rango: payload.rango || existing.rango\n    };\n  } catch (e) {}\n}\n\n// ======================================================================\n// 1) Callbacks de botones inline\n// ======================================================================\nif (textRaw === 'cmd:crear' || textRaw.startsWith('cmd:crear:')) {\n  comando = 'crear';\n  if (textRaw.startsWith('cmd:crear:rango:')) {\n    const rangoPart = textRaw.substring('cmd:crear:rango:'.length);\n    payload.rango = rangoPart;\n    if (rangoPart !== 'exacto') {\n      let daysToAdd = 0;\n      if (rangoPart === 'inmediato') daysToAdd = 1;\n      else if (rangoPart === '2semanas') daysToAdd = 14;\n      else if (rangoPart === '1mes') daysToAdd = 28;\n      if (daysToAdd > 0) {\n        payload.fecha = addDays(hoyArgentina(), daysToAdd);\n        saveContext();\n      }\n    }\n  } else if (textRaw.startsWith('cmd:crear:slot:')) {\n    payload.slot = textRaw.substring('cmd:crear:slot:'.length);\n    loadContext();\n  } else if (textRaw.startsWith('cmd:crear:fecha:')) {\n    payload.fecha = textRaw.substring('cmd:crear:fecha:'.length);\n  }\n} else if (textRaw === 'cmd:cancelar' || textRaw.startsWith('cmd:cancelar:')) {\n  comando = 'cancelar';\n  if (textRaw.startsWith('cmd:cancelar:turno_id:')) {\n    payload.turno_id = textRaw.substring('cmd:cancelar:turno_id:'.length);\n  }\n} else if (textRaw === 'cmd:reprogramar' || textRaw.startsWith('cmd:reprogramar:')) {\n  comando = 'reprogramar';\n  if (textRaw.startsWith('cmd:reprogramar:turno_id:')) {\n    payload.turno_id = textRaw.substring('cmd:reprogramar:turno_id:'.length);\n  }\n}\n// ======================================================================\n// 2) Input de hora HH:MM\n// ======================================================================\nelse if (/^\\d{1,2}:\\d{2}$/.test(textRaw.trim())) {\n  comando = 'crear';\n  payload.slot = textRaw.trim();\n  loadContext();\n}\n// ======================================================================\n// 3) Input de número (slot_numero)\n// ======================================================================\nelse if (/^\\d+$/.test(textRaw.trim())) {\n  const num = parseInt(textRaw.trim(), 10);\n  if (num >= 1 && num <= 20) {\n    comando = 'crear';\n    payload.slot_numero = num;\n    loadContext();\n  }\n}\n// ======================================================================\n// 4) Input de fecha DD/MM/AAAA\n// ======================================================================\nelse if (/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.test(textRaw.trim())) {\n  comando = 'crear';\n  payload.fecha_raw = textRaw.trim();\n}\n// ======================================================================\n// 5) Comandos de texto (slash + lenguaje natural)\n// ======================================================================\nelse if (textLower.startsWith('/reservar') || textLower === 'reservar' || textLower.includes('quiero un turno') || textLower.includes('sacar turno') || textLower.startsWith('reservar:') || textLower.startsWith('reservar_lista_')) {\n  comando = 'crear';\n} else if (textLower.startsWith('/cancelar') || textLower === 'cancelar' || textLower.includes('dar de baja') || textLower.startsWith('cancelar:')) {\n  comando = 'cancelar';\n  if (textLower.startsWith('cancelar:')) {\n    payload.turno_id = text.split(':')[1];\n  }\n} else if (textLower.startsWith('/reprogramar') || textLower === 'reprogramar' || textLower.includes('cambiar turno') || textLower.includes('mover turno') || textLower.startsWith('reprogramar:')) {\n  comando = 'reprogramar';\n  if (textLower.startsWith('reprogramar:')) {\n    payload.turno_id = text.split(':')[1];\n  }\n}\n\nreturn [{\n  json: {\n    comando: comando,\n    chat_id: chatId,\n    callback_query_id: callbackQueryId,\n    text: textRaw,\n    payload: payload\n  }\n}];"
      },
      "id": "6d1e4f83-24d5-4f41-8e82-9dc7a156d4fc",
      "name": "Normalizar Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        144
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1b2c3d4-0001-4000-8000-000000000001",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "crear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1b2c3d4-0001-4000-8000-000000000002",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1b2c3d4-0001-4000-8000-000000000003",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "reprogramar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reprogramar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "82b66012-6242-4a4d-a71e-03dc4719c923",
      "name": "Switch Comando",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1536,
        144
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wWuPN1i632xGRNSbrzk9m",
          "mode": "list",
          "cachedResultUrl": "/workflow/wWuPN1i632xGRNSbrzk9m",
          "cachedResultName": "sub-flujo-crear-turno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e39803d4-b04f-47c9-a96a-93d732f7cf05",
      "name": "Execute Crear Turno",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        -64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7SwnKOvr-VGUN0oMzX9rT",
          "mode": "list",
          "cachedResultUrl": "/workflow/7SwnKOvr-VGUN0oMzX9rT",
          "cachedResultName": "sub-flujo-cancelar-turno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e554abf3-b77f-40c7-8959-a9b27b79fd93",
      "name": "Execute Cancelar Turno",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NKLiszZeopCTc7iNBx9XY",
          "mode": "list",
          "cachedResultUrl": "/workflow/NKLiszZeopCTc7iNBx9XY",
          "cachedResultName": "sub-flujo-reprogramar-turno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "644ce569-c9c9-4570-87f3-0210d39f4396",
      "name": "Execute Reprogramar Turno",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        336
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Hola 👋 ¿Qué querés hacer?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📅 Reservar turno\"",
                    "additionalFields": {
                      "callback_data": "cmd:crear"
                    }
                  },
                  {
                    "text": "❌ Cancelar turno",
                    "additionalFields": {
                      "callback_data": "cmd:cancelar"
                    }
                  },
                  {
                    "text": "🔄 Reprogramar turno",
                    "additionalFields": {
                      "callback_data": "cmd:reprogramar"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "39bf75a9-84df-4e95-9970-b3835340dcdc",
      "name": "Telegram - Mensaje de Ayuda",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1296,
        544
      ],
      "webhookId": "657cb996-9742-4b14-a54f-5897963605e0",
      "credentials": {
        "telegramApi": {
          "id": "TZgUFY41hdHCU9fu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Comando": {
      "main": [
        [
          {
            "node": "Switch Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Comando": {
      "main": [
        [
          {
            "node": "Execute Crear Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Cancelar Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Reprogramar Turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Mensaje de Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dac3adba-0d5b-4483-9634-d372449ceac1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1f49c4f5c939b5d56c254f6878af002cefc3b9bdb8fe6f3cfa6f37c1aca3733"
  },
  "id": "aVEw2pUTW3hp8XI7ThcnF",
  "tags": []
}
