n8n-workflows/sub-flujo-cancelar-turno.json
{
  "name": "sub-flujo-cancelar-turno",
  "nodes": [
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 320],
      "parameters": {}
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000002",
      "name": "Code - Decidir Paso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const input = ($input.all()[0] && $input.all()[0].json) || {};\nconst chatId = input.chat_id;\nconst comando = input.comando || 'cancelar';\nconst payload = input.payload || {};\nconst text = String(input.text || '');\n\nlet turnoId = payload.turno_id || '';\n\nif (text.startsWith('cmd:cancelar:turno_id:')) {\n  turnoId = text.substring('cmd:cancelar:turno_id:'.length);\n} else if (text.startsWith('cancelar:') && text.indexOf(':') === text.lastIndexOf(':')) {\n  const candidate = text.substring('cancelar:'.length).trim();\n  if (/^\\d+$/.test(candidate)) {\n    turnoId = candidate;\n  }\n}\n\nconst accion = turnoId ? 'cancelar' : 'pedir_id';\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    comando: comando,\n    accion: accion,\n    turno_id: turnoId\n  }\n}];"
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000003",
      "name": "Switch Accion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [680, 320],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d2b2c3d4-0001-4000-8000-000000000001",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "pedir_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pedir_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d2b2c3d4-0001-4000-8000-000000000002",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000004",
      "name": "Telegram - Pedir ID",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 120],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "Para cancelar un turno necesito que me pases el ID. Escribí el comando así:\n\n/cancelar <ID>\n\nPor ejemplo: /cancelar 42\n\nSi no sabés el ID, escribí /reservar para crear uno nuevo o contactanos.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000005",
      "name": "HTTP - PUT Cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [920, 320],
      "parameters": {
        "method": "PUT",
        "url": "http://backend:8000/turnos/{{ $json.turno_id }}/cancelar",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": {
          "type": "generic",
          "properties": {
            "genericAuthType": "httpHeaderAuth"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "profesional-api-key",
          "name": "Profesional API Key"
        }
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000006",
      "name": "Code - Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 320],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const input = ($input.all()[0] && $input.all()[0].json) || {};\nconst chatId = input.chat_id;\nconst turnoId = input.turno_id;\nconst errorStatus = input.statusCode && input.statusCode >= 400;\nconst errorDetail = input.detail || (errorStatus ? 'Error HTTP ' + input.statusCode : null);\n\nlet mensaje = '';\nlet exito = false;\nif (errorStatus) {\n  if (input.statusCode === 404) {\n    mensaje = 'Turno no encontrado. Verificá el ID y probá de nuevo.';\n  } else if (input.statusCode === 409) {\n    mensaje = 'El turno ya fue cancelado previamente o no se puede cancelar en su estado actual.';\n  } else {\n    mensaje = 'Error al cancelar el turno: ' + (input.detail || ('HTTP ' + input.statusCode));\n  }\n  exito = false;\n} else {\n  mensaje = 'Turno #' + turnoId + ' cancelado exitosamente.';\n  exito = true;\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    turno_id: turnoId,\n    exito: exito,\n    mensaje: mensaje\n  }\n}];"
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000007",
      "name": "Telegram - Cancelar Confirmado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1400, 320],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "options": {
          "reply_markup": {
            "inline_keyboard": "={{ $json.exito ? [[{ text: 'Reprogramar este turno', callback_data: 'cmd:reprogramar:turno_id:' + $json.turno_id }], [{ text: 'Volver al menú', callback_data: 'cmd:menu' }]] : [[{ text: 'Volver a intentar', callback_data: 'cmd:cancelar' }]] }}"
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code - Decidir Paso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Decidir Paso": {
      "main": [
        [
          {
            "node": "Switch Accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Accion": {
      "main": [
        [
          {
            "node": "Telegram - Pedir ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - PUT Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Pedir ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PUT Cancelar": {
      "main": [
        [
          {
            "node": "Code - Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Telegram - Cancelar Confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "c-24",
    "sub-flujo",
    "cancelar"
  ],
  "pinData": {},
  "active": false
}
