n8n-workflows/sub-flujo-cancelar-turno.json
{
  "name": "sub-flujo-cancelar-turno",
  "nodes": [
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 320],
      "parameters": {}
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000002",
      "name": "Code - Extraer Turno ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const input = ($input.all()[0] && $input.all()[0].json) || {};\n\nlet turnoId = null;\nif (input.payload && input.payload.turno_id) {\n  turnoId = input.payload.turno_id;\n} else if (input.text) {\n  const textLower = String(input.text).toLowerCase();\n  const match = textLower.match(/\\/cancelar\\s+(\\d+)/) || textLower.match(/cancelar:(\\d+)/);\n  if (match) {\n    turnoId = match[1];\n  }\n}\n\nreturn [{\n  json: {\n    chat_id: input.chat_id,\n    turno_id: turnoId,\n    text: input.text\n  }\n}];"
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000003",
      "name": "HTTP Request - PUT Cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 320],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.BACKEND_URL }}/turnos/{{ $json.turno_id }}/cancelar",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": {
          "type": "generic",
          "properties": {
            "genericAuthType": "httpHeaderAuth"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "profesional-api-key",
          "name": "Profesional API Key"
        }
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000004",
      "name": "Code - Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 320],
      "parameters": {
        "mode": "runOnceForAll",
        "language": "javaScript",
        "jsCode": "const input = ($input.all()[0] && $input.all()[0].json) || {};\nconst chatId = input.chat_id;\nconst turnoId = input.turno_id || (input.id) || ($('Code - Extraer Turno ID').item && $('Code - Extraer Turno ID').item.json && $('Code - Extraer Turno ID').item.json.turno_id);\n\nif (input.detail || (input.statusCode && input.statusCode >= 400)) {\n  const statusCode = input.statusCode || 500;\n  let mensaje = 'Error al cancelar el turno.';\n  if (statusCode === 404) {\n    mensaje = 'Turno no encontrado. Verific\u00e1 el ID y prob\u00e1 de nuevo.';\n  } else if (statusCode === 409) {\n    mensaje = 'El turno ya fue cancelado previamente o no se puede cancelar en su estado actual.';\n  } else if (input.detail) {\n    mensaje = 'Error: ' + input.detail;\n  }\n  return [{\n    json: {\n      chat_id: chatId,\n      turno_id: turnoId,\n      exito: false,\n      text: mensaje,\n      buttons: []\n    }\n  }];\n}\n\nconst fecha = input.fecha || '';\nconst hora = input.hora_inicio || '';\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    turno_id: turnoId,\n    exito: true,\n    text: 'Turno #' + turnoId + ' cancelado exitosamente.' + (fecha ? '\\n\\nFecha: ' + fecha : '') + (hora ? '\\nHora: ' + hora : '') + '\\n\\n\u00bfQuer\u00e9s reprogramarlo?',\n    buttons: [\n      { label: 'Reprogramar este turno', value: 'reprogramar:' + turnoId }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "d1b2c3d4-0001-4000-8000-000000000005",
      "name": "Telegram - Confirmar Cancelaci\u00f3n",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 320],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "options": {
          "reply_markup": {
            "inline_keyboard": "={{ $json.buttons && $json.buttons.length > 0 ? $json.buttons.map(function(b){ return [{text: b.label, callback_data: b.value}]; }) : [] }}"
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code - Extraer Turno ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extraer Turno ID": {
      "main": [
        [
          {
            "node": "HTTP Request - PUT Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - PUT Cancelar": {
      "main": [
        [
          {
            "node": "Code - Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Telegram - Confirmar Cancelaci\u00f3n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "c-24",
    "sub-flujo",
    "cancelar"
  ],
  "pinData": {},
  "active": false
}
